--
-- PostgreSQL database dump
--

\restrict DI1tRnpoPAEbRK1WXmPuGGsBv6Ca4vGaQPu0tKQhjpdhNHVpUsPZYc9wfJP0u7A

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: user_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_status AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'BANNED'
);


ALTER TYPE public.user_status OWNER TO postgres;

--
-- Name: current_user_role(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.current_user_role() RETURNS text
    LANGUAGE plpgsql
    AS $$
DECLARE r TEXT;
BEGIN
  r := (SELECT role FROM users
        WHERE user_id = current_setting('app.user_id', true)::INTEGER);
  IF r IS NULL THEN
    RAISE EXCEPTION 'Acting user not set or invalid';
  END IF;
  RETURN r;
END;
$$;


ALTER FUNCTION public.current_user_role() OWNER TO postgres;

--
-- Name: enforce_owner_only_delete(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.enforce_owner_only_delete() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF current_user_role() <> 'OWNER' THEN
    RAISE EXCEPTION 'Only OWNER can hard-delete items';
  END IF;
  RETURN OLD;
END;
$$;


ALTER FUNCTION public.enforce_owner_only_delete() OWNER TO postgres;

--
-- Name: enforce_owner_only_overrides(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.enforce_owner_only_overrides() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE role TEXT;
BEGIN
  role := current_user_role();

  IF OLD.status IN ('GREYED','WITHDRAWN')
     AND NEW.status = 'AVAILABLE'
     AND role <> 'OWNER' THEN
    RAISE EXCEPTION 'Only OWNER can restore items to AVAILABLE';
  END IF;

  RETURN NEW;
END;
$$;


ALTER FUNCTION public.enforce_owner_only_overrides() OWNER TO postgres;

--
-- Name: enforce_status_reason(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.enforce_status_reason() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF NEW.status <> OLD.status
     AND NEW.status IN ('GREYED','WITHDRAWN')
     AND (NEW.status_reason IS NULL OR NEW.status_reason = '') THEN
    RAISE EXCEPTION
      'Changing status from % to % requires a reason',
      OLD.status, NEW.status;
  END IF;
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.enforce_status_reason() OWNER TO postgres;

--
-- Name: log_status_change(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_status_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE acting_user_id INTEGER;
BEGIN
  acting_user_id := current_setting('app.user_id', true)::INTEGER;
  IF acting_user_id IS NULL THEN
    RAISE EXCEPTION 'app.user_id must be set before updating status';
  END IF;

  INSERT INTO status_history
    (item_id, old_status, new_status, reason, changed_by)
  VALUES
    (NEW.item_id, OLD.status, NEW.status, COALESCE(NEW.status_reason,''), acting_user_id);

  RETURN NEW;
END;
$$;


ALTER FUNCTION public.log_status_change() OWNER TO postgres;

--
-- Name: register_accession_no(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.register_accession_no() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  INSERT INTO number_registry (number_type, value)
  VALUES ('ACCESSION', NEW.accession_no);
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.register_accession_no() OWNER TO postgres;

--
-- Name: update_works_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_works_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  NEW.updated_at = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_works_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_log (
    log_id integer NOT NULL,
    user_id integer NOT NULL,
    action text NOT NULL,
    entity text NOT NULL,
    entity_id integer,
    details text,
    "timestamp" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.activity_log OWNER TO postgres;

--
-- Name: activity_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_log_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_log_log_id_seq OWNER TO postgres;

--
-- Name: activity_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_log_log_id_seq OWNED BY public.activity_log.log_id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    log_id integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    admin_name character varying(255),
    action_type character varying(100),
    serial_number character varying(20),
    old_value text,
    new_value text,
    valid_reason text NOT NULL,
    user_id integer,
    target_id character varying(100),
    details text,
    ip_address character varying(45),
    equipment character varying(20)
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_logs_log_id_seq OWNER TO postgres;

--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_log_id_seq OWNED BY public.audit_logs.log_id;


--
-- Name: books_legacy_backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.books_legacy_backup (
    accession_no text,
    title text,
    language text,
    category text,
    ddc text,
    call_no text,
    author text,
    translation_compilation double precision,
    genre text,
    original_language text,
    isbn text,
    shelf text,
    publisher text,
    year text,
    notes text,
    serial_no text,
    updated_at timestamp without time zone,
    last_edited_by integer,
    edit_reason text,
    is_deleted boolean DEFAULT false,
    deleted_at timestamp without time zone,
    deletion_reason text
);


ALTER TABLE public.books_legacy_backup OWNER TO postgres;

--
-- Name: catalogue_backup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.catalogue_backup (
    accession_no text CONSTRAINT catalogue_accession_no_not_null NOT NULL,
    status text DEFAULT 'AVAILABLE'::text
);


ALTER TABLE public.catalogue_backup OWNER TO postgres;

--
-- Name: fines; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fines (
    fine_id integer NOT NULL,
    loan_id integer,
    user_id integer,
    amount numeric(10,2) NOT NULL,
    status character varying(20) DEFAULT 'UNPAID'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    paid_at timestamp without time zone,
    waived_reason text,
    processed_by integer
);


ALTER TABLE public.fines OWNER TO postgres;

--
-- Name: fines_fine_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fines_fine_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fines_fine_id_seq OWNER TO postgres;

--
-- Name: fines_fine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fines_fine_id_seq OWNED BY public.fines.fine_id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id integer NOT NULL,
    serial_no integer,
    accession_no text,
    title text,
    author text,
    language_id text,
    category text,
    original_language text,
    translation_compilation text,
    genre text,
    ddc text,
    call_no text,
    isbn text,
    shelf text,
    publisher text,
    year integer,
    notes text,
    work_id integer,
    copies integer DEFAULT 1,
    availability_status character varying(20) DEFAULT 'AVAILABLE'::character varying,
    is_deleted boolean DEFAULT false
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: language_registry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.language_registry (
    language text NOT NULL,
    prefix text NOT NULL
);


ALTER TABLE public.language_registry OWNER TO postgres;

--
-- Name: loans; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.loans (
    loan_id integer NOT NULL,
    serial_no integer,
    user_id integer,
    issue_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    due_date timestamp without time zone NOT NULL,
    return_date timestamp without time zone,
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    issued_by integer,
    notes text
);


ALTER TABLE public.loans OWNER TO postgres;

--
-- Name: loans_loan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.loans_loan_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.loans_loan_id_seq OWNER TO postgres;

--
-- Name: loans_loan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.loans_loan_id_seq OWNED BY public.loans.loan_id;


--
-- Name: number_registry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.number_registry (
    registry_id integer NOT NULL,
    number_type text NOT NULL,
    value text NOT NULL,
    assigned_at timestamp without time zone DEFAULT now(),
    retired boolean DEFAULT false,
    CONSTRAINT number_registry_number_type_check CHECK ((number_type = ANY (ARRAY['ACCESSION'::text, 'DDC'::text, 'CALLNO'::text])))
);


ALTER TABLE public.number_registry OWNER TO postgres;

--
-- Name: number_registry_registry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.number_registry_registry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.number_registry_registry_id_seq OWNER TO postgres;

--
-- Name: number_registry_registry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.number_registry_registry_id_seq OWNED BY public.number_registry.registry_id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    token_id text NOT NULL,
    user_id text NOT NULL,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: staging_catalogue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.staging_catalogue (
    accession_no text,
    title text,
    language text,
    category text,
    ddc text,
    call_no text,
    author text,
    translation_compilation text,
    genre text,
    original_language text,
    isbn text,
    shelf text,
    publisher text,
    year text,
    notes text
);


ALTER TABLE public.staging_catalogue OWNER TO postgres;

--
-- Name: status_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.status_audit (
    id integer NOT NULL,
    accession_no text,
    old_status text,
    new_status text,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    changed_by text DEFAULT 'ADMIN'::text
);


ALTER TABLE public.status_audit OWNER TO postgres;

--
-- Name: status_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.status_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.status_audit_id_seq OWNER TO postgres;

--
-- Name: status_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.status_audit_id_seq OWNED BY public.status_audit.id;


--
-- Name: status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.status_history (
    history_id integer NOT NULL,
    item_id integer NOT NULL,
    old_status text,
    new_status text NOT NULL,
    reason text,
    changed_by integer NOT NULL,
    changed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.status_history OWNER TO postgres;

--
-- Name: status_history_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.status_history_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.status_history_history_id_seq OWNER TO postgres;

--
-- Name: status_history_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.status_history_history_id_seq OWNED BY public.status_history.history_id;


--
-- Name: system_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_config (
    config_key character varying(50) NOT NULL,
    config_value numeric(10,2) NOT NULL,
    description text,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_by integer
);


ALTER TABLE public.system_config OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    role text NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    revoked_at timestamp without time zone,
    hashed_password text,
    status public.user_status DEFAULT 'PENDING'::public.user_status,
    login_id text,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['SYSTEM_ARCHITECT'::text, 'ARCHIVIST'::text, 'GUEST'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: v_status_audit; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_status_audit AS
 SELECT changed_at,
    item_id,
    old_status,
    new_status,
    reason,
    changed_by AS user_id
   FROM public.status_history sh;


ALTER VIEW public.v_status_audit OWNER TO postgres;

--
-- Name: works; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.works (
    work_id integer NOT NULL,
    title text NOT NULL,
    language text NOT NULL,
    category text NOT NULL,
    genre text,
    author text DEFAULT 'Author'::text,
    publisher text DEFAULT 'PBUNK'::text,
    original_language text,
    ddc text,
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    search_vector tsvector,
    title_manglish text,
    author_manglish text,
    translation_compilation text,
    year integer,
    call_no text,
    isbn text,
    title_search_key text,
    author_search_key text,
    total_copies integer DEFAULT 0,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    proposed_by integer,
    proposal_reason text,
    approved_by integer,
    approval_reason text,
    approved_at timestamp without time zone,
    manglish text,
    CONSTRAINT works_category_check CHECK ((category = ANY (ARRAY['Fiction'::text, 'Non-Fiction'::text, 'Reference'::text, 'Religious'::text, 'Poetry'::text])))
);


ALTER TABLE public.works OWNER TO postgres;

--
-- Name: works_work_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.works_work_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.works_work_id_seq OWNER TO postgres;

--
-- Name: works_work_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.works_work_id_seq OWNED BY public.works.work_id;


--
-- Name: activity_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log ALTER COLUMN log_id SET DEFAULT nextval('public.activity_log_log_id_seq'::regclass);


--
-- Name: audit_logs log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN log_id SET DEFAULT nextval('public.audit_logs_log_id_seq'::regclass);


--
-- Name: fines fine_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines ALTER COLUMN fine_id SET DEFAULT nextval('public.fines_fine_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Name: loans loan_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans ALTER COLUMN loan_id SET DEFAULT nextval('public.loans_loan_id_seq'::regclass);


--
-- Name: number_registry registry_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.number_registry ALTER COLUMN registry_id SET DEFAULT nextval('public.number_registry_registry_id_seq'::regclass);


--
-- Name: status_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status_audit ALTER COLUMN id SET DEFAULT nextval('public.status_audit_id_seq'::regclass);


--
-- Name: status_history history_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status_history ALTER COLUMN history_id SET DEFAULT nextval('public.status_history_history_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: works work_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works ALTER COLUMN work_id SET DEFAULT nextval('public.works_work_id_seq'::regclass);


--
-- Data for Name: activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activity_log (log_id, user_id, action, entity, entity_id, details, "timestamp") FROM stdin;
2	1	STATUS_CHANGE	accession	1	RETURNED->AVAILABLE	2026-02-18 16:21:38.493184
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: books_legacy_backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: catalogue_backup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: fines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fines (fine_id, loan_id, user_id, amount, status, created_at, paid_at, waived_reason, processed_by) FROM stdin;
1	1	1	40.00	PAID	2026-04-02 15:42:15.223198	2026-04-02 15:42:35.005339	\N	3
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: language_registry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.language_registry (language, prefix) FROM stdin;
Malayalam	ML
English	EN
Multi -Lingual	MU
Tamil	TA
German	GE
\.


--
-- Data for Name: loans; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.loans (loan_id, serial_no, user_id, issue_date, due_date, return_date, status, issued_by, notes) FROM stdin;
1	1	1	2026-04-02 15:22:46.076947	2026-03-28 15:22:46.076947	2026-04-02 15:42:15.225281	RETURNED	1	\N
\.


--
-- Data for Name: number_registry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: staging_catalogue; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: status_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.status_audit (id, accession_no, old_status, new_status, changed_at, changed_by) FROM stdin;
2	1	AVAILABLE	ISSUED	2026-02-18 15:56:50.663136	system
3	1	ISSUED	RETURNED	2026-02-18 16:03:43.766785	system
5	1	RETURNED	AVAILABLE	2026-02-18 16:21:38.493184	system
\.


--
-- Data for Name: status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_config (config_key, config_value, description, updated_at, updated_by) FROM stdin;
DEFAULT_LOAN_DAYS	14.00	Standard number of days for a book loan	2026-04-02 15:51:13.251184	\N
DAILY_FINE_RATE	10.00	Penalty amount charged per day for late returns	2026-04-02 15:51:13.251184	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: works; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: activity_log_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_log_log_id_seq', 2, true);


--
-- Name: audit_logs_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_log_id_seq', 200, true);


--
-- Name: fines_fine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fines_fine_id_seq', 1, true);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.items_id_seq', 295, true);


--
-- Name: loans_loan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.loans_loan_id_seq', 1, true);


--
-- Name: number_registry_registry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.number_registry_registry_id_seq', 99, true);


--
-- Name: status_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.status_audit_id_seq', 5, true);


--
-- Name: status_history_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.status_history_history_id_seq', 129, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 5, true);


--
-- Name: works_work_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.works_work_id_seq', 600, true);


--
-- Name: activity_log activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log
    ADD CONSTRAINT activity_log_pkey PRIMARY KEY (log_id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (log_id);


--
-- Name: catalogue_backup catalogue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.catalogue_backup
    ADD CONSTRAINT catalogue_pkey PRIMARY KEY (accession_no);


--
-- Name: fines fines_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_pkey PRIMARY KEY (fine_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: items items_serial_no_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_serial_no_key UNIQUE (serial_no);


--
-- Name: language_registry language_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.language_registry
    ADD CONSTRAINT language_registry_pkey PRIMARY KEY (language);


--
-- Name: language_registry language_registry_prefix_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.language_registry
    ADD CONSTRAINT language_registry_prefix_key UNIQUE (prefix);


--
-- Name: loans loans_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_pkey PRIMARY KEY (loan_id);


--
-- Name: number_registry number_registry_number_type_value_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.number_registry
    ADD CONSTRAINT number_registry_number_type_value_key UNIQUE (number_type, value);


--
-- Name: number_registry number_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.number_registry
    ADD CONSTRAINT number_registry_pkey PRIMARY KEY (registry_id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (token_id);


--
-- Name: status_audit status_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status_audit
    ADD CONSTRAINT status_audit_pkey PRIMARY KEY (id);


--
-- Name: status_history status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_pkey PRIMARY KEY (history_id);


--
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (config_key);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_login_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_login_id_key UNIQUE (login_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: works works_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_pkey PRIMARY KEY (work_id);


--
-- Name: idx_items_accession; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_accession ON public.items USING btree (accession_no);


--
-- Name: idx_items_serial; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_serial ON public.items USING btree (serial_no);


--
-- Name: idx_works_author_manglish_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_author_manglish_trgm ON public.works USING gin (author_manglish public.gin_trgm_ops);


--
-- Name: idx_works_author_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_author_search ON public.works USING btree (author_search_key);


--
-- Name: idx_works_author_search_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_author_search_trgm ON public.works USING gist (author_search_key public.gist_trgm_ops);


--
-- Name: idx_works_author_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_author_trgm ON public.works USING gin (author public.gin_trgm_ops);


--
-- Name: idx_works_category_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_category_norm ON public.works USING btree (replace(replace(lower(category), '-'::text, ''::text), ' '::text, ''::text));


--
-- Name: idx_works_category_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_category_trgm ON public.works USING gin (category public.gin_trgm_ops);


--
-- Name: idx_works_ddc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_ddc ON public.works USING btree (ddc);


--
-- Name: idx_works_publisher_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_publisher_trgm ON public.works USING gin (publisher public.gin_trgm_ops);


--
-- Name: idx_works_publisher_trgm_fuzzy; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_publisher_trgm_fuzzy ON public.works USING gist (publisher public.gist_trgm_ops);


--
-- Name: idx_works_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_search ON public.works USING gin (search_vector);


--
-- Name: idx_works_title; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_title ON public.works USING btree (title);


--
-- Name: idx_works_title_manglish_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_title_manglish_trgm ON public.works USING gin (title_manglish public.gin_trgm_ops);


--
-- Name: idx_works_title_search; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_title_search ON public.works USING btree (title_search_key);


--
-- Name: idx_works_title_search_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_title_search_trgm ON public.works USING gist (title_search_key public.gist_trgm_ops);


--
-- Name: idx_works_title_trgm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_works_title_trgm ON public.works USING gin (title public.gin_trgm_ops);


--
-- Name: uniq_works_nodup; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uniq_works_nodup ON public.works USING btree (title, language, COALESCE(author, ''::text));


--
-- Name: works trg_update_works; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_works BEFORE UPDATE ON public.works FOR EACH ROW EXECUTE FUNCTION public.update_works_timestamp();


--
-- Name: activity_log activity_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log
    ADD CONSTRAINT activity_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: books_legacy_backup books_last_edited_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books_legacy_backup
    ADD CONSTRAINT books_last_edited_by_fkey FOREIGN KEY (last_edited_by) REFERENCES public.users(user_id);


--
-- Name: fines fines_loan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_loan_id_fkey FOREIGN KEY (loan_id) REFERENCES public.loans(loan_id);


--
-- Name: fines fines_processed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_processed_by_fkey FOREIGN KEY (processed_by) REFERENCES public.users(user_id);


--
-- Name: fines fines_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fines
    ADD CONSTRAINT fines_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: audit_logs fk_user_audit; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_user_audit FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: loans loans_issued_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_issued_by_fkey FOREIGN KEY (issued_by) REFERENCES public.users(user_id);


--
-- Name: loans loans_serial_no_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_serial_no_fkey FOREIGN KEY (serial_no) REFERENCES public.items(serial_no);


--
-- Name: loans loans_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: status_history status_history_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.status_history
    ADD CONSTRAINT status_history_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(user_id);


--
-- Name: system_config system_config_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(user_id);


--
-- Name: works works_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(user_id);


--
-- Name: works works_proposed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.works
    ADD CONSTRAINT works_proposed_by_fkey FOREIGN KEY (proposed_by) REFERENCES public.users(user_id);


--
-- Name: TABLE activity_log; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.activity_log TO owner_role;


--
-- Name: SEQUENCE activity_log_log_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.activity_log_log_id_seq TO owner_role;


--
-- Name: TABLE audit_logs; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.audit_logs TO librarian_role;


--
-- Name: TABLE books_legacy_backup; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.books_legacy_backup TO librarian_role;


--
-- Name: TABLE catalogue_backup; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.catalogue_backup TO librarian_role;


--
-- Name: TABLE fines; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.fines TO librarian_role;


--
-- Name: TABLE items; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.items TO librarian_role;


--
-- Name: TABLE language_registry; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.language_registry TO librarian_role;


--
-- Name: TABLE loans; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.loans TO librarian_role;


--
-- Name: TABLE number_registry; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.number_registry TO owner_role;


--
-- Name: SEQUENCE number_registry_registry_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.number_registry_registry_id_seq TO owner_role;


--
-- Name: TABLE refresh_tokens; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.refresh_tokens TO librarian_role;


--
-- Name: TABLE staging_catalogue; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.staging_catalogue TO librarian_role;


--
-- Name: TABLE status_audit; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.status_audit TO librarian_role;


--
-- Name: TABLE status_history; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.status_history TO owner_role;
GRANT SELECT ON TABLE public.status_history TO librarian_role;


--
-- Name: SEQUENCE status_history_history_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.status_history_history_id_seq TO owner_role;


--
-- Name: TABLE system_config; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.system_config TO librarian_role;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.users TO owner_role;


--
-- Name: SEQUENCE users_user_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.users_user_id_seq TO owner_role;


--
-- Name: TABLE v_status_audit; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,UPDATE ON TABLE public.v_status_audit TO librarian_role;


--
-- Name: TABLE works; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.works TO owner_role;
GRANT SELECT,INSERT,UPDATE ON TABLE public.works TO librarian_role;


--
-- Name: SEQUENCE works_work_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.works_work_id_seq TO owner_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT SELECT,INSERT,UPDATE ON TABLES TO librarian_role;


--
-- PostgreSQL database dump complete
--

\unrestrict DI1tRnpoPAEbRK1WXmPuGGsBv6Ca4vGaQPu0tKQhjpdhNHVpUsPZYc9wfJP0u7A

